{% extends 'base.html' %}

{% block content %}
<h2>Thêm Nhật Ký Mới</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        <label>Cảm xúc (Emotion):</label>
        <select name="emotion" required>
            <option value="HAPPY">Happy 😀</option>
            <option value="SAD">Sad 😢</option>
            <option value="ANGRY">Angry 😡</option>
            <option value="CALM">Calm 😌</option>
        </select>
    </p>

    <p>
        <label>Nội dung nhật ký:</label><br>
        <textarea name="text" rows="5" cols="40" required></textarea>
    </p>

    <p>
        <label>Yêu thích?</label>
        <input type="checkbox" name="is_bookmark">
    </p>

    <p>
        <label>Chọn nhiều ảnh cùng lúc:</label><br>
        <input type="file" name="images" multiple accept="image/*" required>
    </p>

    <button type="submit">Lưu Nhật Ký &amp; Tải ảnh lên S3</button>
</form>
{% endblock %}
